nav {
  color: #646262;
  font-size: 17px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  line-height: 170%;
  font-weight: 400;
  display: flex;
  min-width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-top: 32px;
  box-sizing: border-box;
}
nav .profile-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: black;
  border-radius: 25px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  overflow: hidden;
}
nav .profile-container .profile-circle {
  border-radius: 50%;
  width: 48px;
  height: 100%;
  overflow: hidden;
}
nav .profile-container .profile-circle img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
nav .profile-container .profile-username {
  color: white;
  font-weight: 600;
  margin-left: 16px;
}
nav .logo {
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
  opacity: 1;
}
nav .logo.transparent {
  opacity: 0;
}
nav .nav-links-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 500;
  height: 50px;
  background-color: hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: relative;
  gap: 1em;
}
nav .nav-links-container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  transition: 0.5s height, 0.5s opacity;
  gap: 0.5em;
}
nav .nav-links-container .nav-links li a {
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: rgba(15, 13, 13, 0.6);
  transition: 0.5s;
}
nav .nav-links-container .nav-links li a:hover {
  color: #222222;
}
nav .nav-links-container.open .nav-links {
  padding: 1em;
  position: absolute;
  left: auto;
  top: 90px;
  right: 0;
  bottom: auto;
  z-index: 800;
  margin-top: 8px;
  margin: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 100%;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.15);
  display: block !important;
  height: fit-content;
  opacity: 1;
}
@media (max-width: 840px) {
  nav .mobile-menu-burger {
    display: flex !important;
  }
  nav .nav-links {
    position: absolute;
    height: 0px;
    opacity: 0;
    top: -1000px;
  }
}
@media (max-width: 500px) {
  nav .logo {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  nav .logo {
    font-size: 16px;
  }
}
nav .mobile-menu-burger {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
nav .mobile-menu-burger .line {
  width: 100%;
  height: 3px;
  background-color: Black;
  transition: 0.6s;
}
nav .mobile-menu-burger.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
nav .mobile-menu-burger.open .line:nth-child(2) {
  opacity: 0;
}
nav .mobile-menu-burger.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

body {
  background-color: #EEE;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
main.game {
  padding: unset;
  overflow: hidden;
  max-width: unset;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.error {
  color: #B30202;
}

.container-row {
  display: flex;
}

.hidden {
  display: none !important;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1100px;
  min-height: auto;
  margin-top: 200px;
  position: relative;
  width: 100%;
  padding: 1em;
}
.container.floating {
  background-color: white;
  border-radius: 20px;
}
.container.w50 {
  width: 50%;
  max-width: 550px;
}

.bar {
  background-color: lightgray;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 48px;
  position: relative;
}
.bar .filler {
  background-color: green;
  transition: 1s;
  height: 100%;
  display: block;
}

@media (max-width: 750px) {
  .w50 {
    width: 100% !important;
    max-width: 100% !important;
  }
  .container-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 769px) {
  .hide-mobile {
    display: none;
  }
}
.button {
  background-color: black;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 107%;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
.button:hover {
  background-color: #505050;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form label {
  display: none;
}
form input {
  padding: 1em;
  border-radius: 20px;
  appearance: none;
  border: 1px solid #AAA;
  font-size: 1em;
  color: black;
}
form button {
  background: black;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 20px;
  color: white;
  border: 0px;
  cursor: pointer;
}

footer {
  background-color: #eee;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
footer .name {
  font-weight: 800;
}

#pixelCanvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
}

.game-bar {
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  overflow-x: auto;
  justify-content: start;
  align-items: center;
  gap: 2em;
  padding-bottom: 16px;
}
.game-bar .color {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
}
.game-bar .color.color-ffb3ba {
  background-color: #ffb3ba;
}
.game-bar .color.color-ffdfba {
  background-color: #ffdfba;
}
.game-bar .color.color-ffffba {
  background-color: #ffffba;
}
.game-bar .color.color-baffc9 {
  background-color: #baffc9;
}
.game-bar .color.color-bae1ff {
  background-color: #bae1ff;
}
.game-bar .color.color-ff7f7f {
  background-color: #ff7f7f;
}
.game-bar .color.color-7fbfff {
  background-color: #7fbfff;
}
.game-bar .color.color-7fff7f {
  background-color: #7fff7f;
}
.game-bar .color.color-ff7fff {
  background-color: #ff7fff;
}
.game-bar .color.color-ffff7f {
  background-color: #ffff7f;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}
.modal .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

@media (max-width: 450px) {
  .modal {
    width: 250px;
    min-height: 70%;
  }
  .modal .modal-body {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
