#pixelCanvas{
    width:100%;
    height:100%;
    background-color:transparent;
    position: absolute;
    top:0;
}

.game-bar{
    width:100%;
    height:64px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-wrap: nowrap;
    padding-left:32px;
    overflow-x: auto;
    justify-content: start;
    align-items: center;
    gap:2em;
    padding-bottom:32px;
    

    .color{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius:50%;
        width:48px;
        height:48px;
        min-width:48px;
        min-height:48px;
        cursor:pointer;

        &.color-ffb3ba{
            background-color:#ffb3ba;
        }

        &.color-ffdfba{
            background-color:#ffdfba;
        }
        &.color-ffffba{
            background-color:#ffffba;
        }
        &.color-baffc9{
            background-color:#baffc9;
        }
        &.color-bae1ff{
            background-color:#bae1ff;
        }
        &.color-ff7f7f{
            background-color:#ff7f7f;
        }
        &.color-7fbfff{
            background-color:#7fbfff;
        }
        &.color-7fff7f{
            background-color:#7fff7f;
        }
        &.color-ff7fff{
            background-color:#ff7fff;
        }
        &.color-ffff7f{
            background-color:#ffff7f;
        }
    }
}