footer{
    background-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: 0 14px -20px 0 rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width:100%;
    padding:1em;
    box-sizing: border-box;

    .name{
        font-weight:800;
    }
}