
body{
    background-color:#EEE;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    margin:0;
}


main{
    margin: 0 auto;
    max-width: 1100px;
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding:1em;
    box-sizing: border-box;

    &.game{
        padding:unset;
        overflow: hidden;
        max-width:unset;
        position: inherit;
        height:100%;
        width:100%;
        max-height:100%;
        max-width:100%;
        top:0;
        left:0;


    }
}
.error{
    color: #B30202;
}

.container-row{
    display:flex;
}


.hidden{
    display:none !important;
}


.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1100px;
    min-height: auto;
    margin-top: 200px;
    position: relative;
    width: 100%;
    padding:1em;

    &.floating{
        background-color:white;
        border-radius:20px;
    }


    &.w50{
        width:50%;
        max-width:calc(1100px/2);
    }
}

.bar {

    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
    width:100%;
    height: 48px;
    position: relative;

    .filler  {
        background-color: green;
        transition: 1s;
        height: 100%;
        display:block;
    }
}


@media(max-width:750px){
    .w50{
        width:100% !important;
        max-width:100% !important;
    }

    .container-row{
        flex-wrap:wrap;
    }
}



@media (max-width: 769px) {
    .hide-mobile{
        display:none;
    }
}