
body{
    background-color:#EEE;
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    margin:0px;
}

main{
    margin: 0 auto;
    max-width: 1100px;
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding:1em;
    box-sizing: border-box;
}

.container-row{
    display:flex;
}


.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1100px;
    min-height: auto;
    margin-top: 200px;
    position: relative;
    width: 100%;
    padding:1em;

    &.floating{
        background-color:white;
        border-radius:20px;
    }


    &.w50{
        width:50%;
        max-width:calc(1100px/2);
    }



}


@media(max-width:750px){
    .w50{
        width:100% !important;
        max-width:100% !important;
    }

    .container-row{
        flex-wrap:wrap;
    }
}



@media (max-width: 769px) {
    .hide-mobile{
        display:none;
    }
}